<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.ln.dao.ArticleInfoMapper">
  <resultMap id="BaseResultMap" type="com.blog.ln.bean.ArticleInfo">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_content" jdbcType="VARCHAR" property="articleContent" />
    <result column="article_img" jdbcType="VARCHAR" property="articleImg" />
    <result column="article_recom" jdbcType="VARCHAR" property="articleRecom" />
    <result column="article_time" jdbcType="TIMESTAMP" property="articleTime" />
    <result column="article_mark" jdbcType="VARCHAR" property="articleMark" />
    <result column="category_name"  property="categoryName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="Base_Column_List">
    article_id, user_id, category_id, article_title, article_content, article_img, article_recom, 
    article_time, article_mark
  </sql>
  
  <!-- 根据栏目id删除文章信息 -->
  <delete id="deleteCategoryId" parameterType="java.lang.Integer">
  	delete from article_info where category_id = #{categoryId}
  </delete>
  
  <!-- 查询文章作者 -->
  <select id="selectwriter" parameterType="com.blog.ln.bean.ArticleInfo" resultMap="BaseResultMap">
  	select a.*,b.user_name from article_info a,user_info b where a.user_id = b.user_id
    <if test="_parameter != null and _parameter != ''">
  		and a.article_id = #{articleId}
  	</if>
  </select>
  
  <!-- 根据条件查询文章信息 -->
  <select id="getArticleList" parameterType="com.blog.ln.bean.ArticleInfo" resultMap="BaseResultMap">
  	select a.*,b.category_name from article_info a, category_info b where a.category_id = b.category_id
  	<if test="articleTitle != null and articleTitle != ''">
  		<bind name="articleTitlePatter" value="'%'+_parameter.articleTitle+'%'"/>
  		and a.article_title like #{articleTitlePatter}
  	</if>
  	<if test="categoryId != null and categoryId != ''">
  		and b.category_id = #{categoryId}
  	</if>
  	order by a.article_id asc
  	<if test="start != -1 and length != -1">
  		limit #{start},#{length}
  	</if>
  </select>
  
  <!-- 查询最新的15条文章信息 -->
  <select id="getNewArticleList" parameterType="com.blog.ln.bean.ArticleInfo" resultMap="BaseResultMap">
  	select a.*,b.category_name from article_info a, category_info b where a.category_id = b.category_id
  	<if test="articleTitle != null and articleTitle != ''">
  		<bind name="articleTitlePatter" value="'%'+_parameter.articleTitle+'%'"/>
  		and a.article_title like #{articleTitlePatter}
  	</if>
  	<if test="categoryId != null and categoryId != ''">
  		and b.category_id = #{categoryId}
  	</if>
  	<if test="articleRecom != null and articleRecom != ''">
  		and a.article_recom = #{articleRecom}
  	</if>
  	<if test="articleMark != null and articleMark != ''">
  		and a.article_mark = #{articleMark}
  	</if>
  	order by a.article_id desc
  	<if test="start != -1 and length != -1">
  		limit #{start},#{length}
  	</if>
  	
  </select>
  
  <!-- 查询文章总数 -->
  <select id="getArticleCount" parameterType="com.blog.ln.bean.ArticleInfo" resultType="long">
  	select count(*) from article_info a, category_info b where a.category_id = b.category_id
	<if test="articleTitle != null and articleTitle != ''">
  		<bind name="articleTitlePatter" value="'%'+_parameter.articleTitle+'%'"/>
  		and a.article_title like #{articleTitlePatter}
  	</if>
  	<if test="categoryId != null and categoryId != ''">
  		and b.category_id = #{categoryId}
  	</if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.*,b.category_name 
    from article_info a, category_info b
    where a.category_id = b.category_id AND a.article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article_info
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blog.ln.bean.ArticleInfo">
    insert into article_info (article_id, user_id, category_id, 
      article_title, article_content, article_img, 
      article_recom, article_time, article_mark
      )
    values (#{articleId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{articleTitle,jdbcType=VARCHAR}, #{articleContent,jdbcType=VARCHAR}, #{articleImg,jdbcType=VARCHAR}, 
      #{articleRecom,jdbcType=VARCHAR}, #{articleTime,jdbcType=TIMESTAMP}, #{articleMark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blog.ln.bean.ArticleInfo" >
    insert into article_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
      <if test="articleImg != null">
        article_img,
      </if>
      <if test="articleRecom != null">
        article_recom,
      </if>
      <if test="articleTime != null">
        article_time,
      </if>
      <if test="articleMark != null">
        article_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleImg != null">
        #{articleImg,jdbcType=VARCHAR},
      </if>
      <if test="articleRecom != null">
        #{articleRecom,jdbcType=VARCHAR},
      </if>
      <if test="articleTime != null">
        #{articleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleMark != null">
        #{articleMark,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="articleId">  
      SELECT LAST_INSERT_ID() AS articleId  
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.ln.bean.ArticleInfo">
    update article_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleImg != null">
        article_img = #{articleImg,jdbcType=VARCHAR},
      </if>
      <if test="articleRecom != null">
        article_recom = #{articleRecom,jdbcType=VARCHAR},
      </if>
      <if test="articleTime != null">
        article_time = #{articleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleMark != null">
        article_mark = #{articleMark,jdbcType=VARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.ln.bean.ArticleInfo">
    update article_info
    set user_id = #{userId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR},
      article_img = #{articleImg,jdbcType=VARCHAR},
      article_recom = #{articleRecom,jdbcType=VARCHAR},
      article_time = #{articleTime,jdbcType=TIMESTAMP},
      article_mark = #{articleMark,jdbcType=VARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
</mapper>