<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.ln.dao.MessageInfoMapper">
  <resultMap id="BaseResultMap" type="com.blog.ln.bean.MessageInfo">
    <id column="message_id" jdbcType="INTEGER" property="messageId" />
    <result column="message_content" jdbcType="VARCHAR" property="messageContent" />
    <result column="message_time" jdbcType="TIMESTAMP" property="messageTime" />
    <result column="message_name" jdbcType="VARCHAR" property="messageName" />
    <result column="message_mark" jdbcType="VARCHAR" property="messageMark" />
  </resultMap>
  <sql id="Base_Column_List">
    message_id, message_content, message_time, message_name, message_mark
  </sql>
  
  <!-- 查询所有留言信息 并可以条件查询-->
  <select id="getMessageList" resultMap="BaseResultMap" parameterType="com.blog.ln.bean.MessageInfo">
  	select * from message_info 
  	<where>
  		<if test="messageName != null and messageName != ''">
  			<bind name="messageNamePattern" value="'%'+_parameter.messageName+'%'"/>
  			and message_name like #{messageNamePattern}
  		</if>
  	</where>
  		order by message_id desc
  </select>
  
  <!-- 查询留言总数 -->
  <select id="messamount" parameterType="com.blog.ln.bean.MessageInfo" resultType="long" >
  		select count(*) from message_info
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message_info
    where message_id = #{messageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message_info
    where message_id = #{messageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blog.ln.bean.MessageInfo">
    insert into message_info (message_id, message_content, message_time, 
      message_name, message_mark)
    values (#{messageId,jdbcType=INTEGER}, #{messageContent,jdbcType=VARCHAR}, #{messageTime,jdbcType=TIMESTAMP}, 
      #{messageName,jdbcType=VARCHAR}, #{messageMark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.ln.bean.MessageInfo">
    insert into message_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        message_id,
      </if>
      <if test="messageContent != null">
        message_content,
      </if>
      <if test="messageTime != null">
        message_time,
      </if>
      <if test="messageName != null">
        message_name,
      </if>
      <if test="messageMark != null">
        message_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="messageContent != null">
        #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null">
        #{messageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageName != null">
        #{messageName,jdbcType=VARCHAR},
      </if>
      <if test="messageMark != null">
        #{messageMark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.ln.bean.MessageInfo">
    update message_info
    <set>
      <if test="messageContent != null">
        message_content = #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null">
        message_time = #{messageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageName != null">
        message_name = #{messageName,jdbcType=VARCHAR},
      </if>
      <if test="messageMark != null">
        message_mark = #{messageMark,jdbcType=VARCHAR},
      </if>
    </set>
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.ln.bean.MessageInfo">
    update message_info
    set message_content = #{messageContent,jdbcType=VARCHAR},
      message_time = #{messageTime,jdbcType=TIMESTAMP},
      message_name = #{messageName,jdbcType=VARCHAR},
      message_mark = #{messageMark,jdbcType=VARCHAR}
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
</mapper>