<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.ln.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.blog.ln.bean.UserInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_mark" jdbcType="VARCHAR" property="userMark" />
  </resultMap>
  
  <!-- 查询 -->
  <select id="getUserList" parameterType="com.blog.ln.bean.UserInfo" resultMap="BaseResultMap">
  	select * from user_info where user_mark = '1'
  	<if test="userName!=null and userName!=''">
  		<bind name="userNamePatten" value="'%'+_parameter.userName+'%'"/>
  		and user_name like #{userNamePatten}
  	</if>
  	
  	order by user_id asc
  	
  	<if test="start !=-1 and length !=-1">
  		limit #{start},#{length}
  	</if>
  </select>
  
  <!-- 查询总记录数 -->
  <select id="getUserCount" resultType="long" parameterType="com.blog.ln.bean.UserInfo">
  	 select count(*) from user_info where user_mark = '1'
  	<if test="userName!=null and userName!=''">
  		<bind name="userNamePatten" value="'%'+_parameter.userName+'%'"/>
  		and user_name like #{userNamePatten}
  	</if>
  
  </select>
  
  <!-- 登陆查询 -->
  <select id="isLogin" parameterType="com.blog.ln.bean.UserInfo" resultMap="BaseResultMap">
	  select * from user_info where user_mark = '1' 
	  and user_account = #{userAccount} 
	  and user_password = #{userPassword}
  </select>
  
  
  <sql id="Base_Column_List">
    user_id, user_name, user_phone, user_account, user_password, user_mark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blog.ln.bean.UserInfo">
    insert into user_info (user_id, user_name, user_phone, 
      user_account, user_password, user_mark
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userAccount,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userMark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blog.ln.bean.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userMark != null">
        user_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userMark != null">
        #{userMark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.ln.bean.UserInfo">
    update user_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userMark != null">
        user_mark = #{userMark,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.ln.bean.UserInfo">
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_account = #{userAccount,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_mark = #{userMark,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>